In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv(r'C:\Users\NENOOD\Desktop\test_task\ex1data2.txt', header=None)

In [23]:
data.head()

      0  1       2
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

In [24]:
X = data.iloc[:,0:2]
y = data.iloc[:,2].values.reshape(47,1)

In [25]:
def line_reg(w, b) :
    y_hat = np.dot(X, w) + b
    return y_hat

In [26]:
def loss(y_hat, y):
    l = ((y_hat - y)**2) / 2
    return np.sum(l) / 47

In [27]:
def update(w, b, epochs, lr):
    for epoch in range(epochs):
        y_hat = line_reg(w, b)
        dw = np.dot(X.T, (y_hat - y))
        db = np.sum(y_hat - y)/47
        w -= lr * dw
        b -= lr * db
        if (epoch+1) % 10 == 0:
            print(f"epoch:{epoch+1}  loss:{np.sum(loss(y_hat, y))}")
    return w, b

In [28]:
w = np.array([[2.0],
              [1.0]])
b = 1
epochs = 200
lr = 0.000000001
print(update(w, b, epochs, lr))

epoch:10  loss:3149478437.3890705
epoch:20  loss:2403449144.109304
epoch:30  loss:2397877212.540851
epoch:40  loss:2397835468.5829997
epoch:50  loss:2397835027.4424033
epoch:60  loss:2397834894.7765784
epoch:70  loss:2397834764.4147506
epoch:80  loss:2397834634.070249
epoch:90  loss:2397834503.725996
epoch:100  loss:2397834373.381865
epoch:110  loss:2397834243.0378523
epoch:120  loss:2397834112.693959
epoch:130  loss:2397833982.350187
epoch:140  loss:2397833852.006533
epoch:150  loss:2397833721.662999
epoch:160  loss:2397833591.3195868
epoch:170  loss:2397833460.9762917
epoch:180  loss:2397833330.633119
epoch:190  loss:2397833200.2900643
epoch:200  loss:2397833069.9471297
(array([[165.38077819],
       [  1.39196922]]), 1.0034117061719126)