#一级标题
##二级标题
###三级标题

In [1]:
1+2

3

一行解释

In [3]:
for i in range(5):
  print(i)

0
1
2
3
4

In [1]:
import pandas as pd
pd.DataFrame({'Yes':[50,21],'No':[131,2]})

   Yes   No
0   50  131
1   21    2

In [13]:
pd.Series([3,4,5],index=['a','b','c'],name='aiclub')

a    3
b    4
c    5
Name: aiclub, dtype: int64

In [5]:
import pandas as pd
data=[['Google',10],['Eunoob',12],['wiki',13]]
a=pd.DataFrame(data,columns=['Site','Age'])
print(a)

     Site  Age
0  Google   10
1  Eunoob   12
2    wiki   13

In [9]:
import pandas as pd

data = [['Google',10],['Runoob',12],['Wiki',13]]

df = pd.DataFrame(data,columns=['Site','Age'],dtype=float)

print(df)

     Site   Age
0  Google  10.0
1  Runoob  12.0
2    Wiki  13.0

C:\Users\29988\AppData\Local\Temp\ipykernel_3312\2134438963.py:5: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(data,columns=['Site','Age'],dtype=float)

In [3]:
import pandas as pd

data = {'Site':['Google', 'Runoob', 'Wiki'], 'Age':[10, 12, 13]}

df = pd.DataFrame(data)

print (df)

     Site  Age
0  Google   10
1  Runoob   12
2    Wiki   13