In [2]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
columns=['A','B','C']
city_data=pd.read_csv("D:/JNAIC/test_task/ex1data2.txt",names=columns)
city_data.head()

      A  B       C
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

不会画图

In [6]:
x1 = city_data.A
x2= city_data.B
y =city_data.C
# plt.scatter(x,y)
# plt.xlabel("population of city in 10.000s")
# plt.ylabel("profit of city in 10.000s")

In [13]:
def J(X1,X2,Y,alpha,theta1,theta2,theta3):
# def J(X,Y,alpha,theta1,theta2,iterations):
    J_history1=[]
    J_history2=[]
    i=0
    m=len(X1)
    h=0
    lost1=0
    lost2=0
    lost3=0
#     for i in range(iterations):
    while True:
        for i in range(m):
            h+=theta1*X1[1]+theta2*X2[i]+theta3
            lost1+=(1/m)*(Y[i]-h)*alpha*X1[i]
            lost2+=(1/m)*(Y[i]-h)*alpha*X2[i]
            lost3+=(1/m)*(Y[i]-h)*alpha
        J_history1.append(lost1)
        theta1+=lost1
        theta2+=lost2
        theta3+=lost3
        if -0.01<J_history1[-1] < 0.01 and -0.01<J_history2[-1]<0.01:
            break
    print(f"the finalily theta1 is{theta1},theta2 is {theta2}")
    return theta1,theta2

In [ ]:
theta1,theta2=J(x1,x2,y,0.01,1,1,1)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_40168\1545241257.py:14: RuntimeWarning: overflow encountered in scalar multiply
  h+=theta1*X1[1]+theta2*X2[i]+theta3
C:\Users\lenovo\AppData\Local\Temp\ipykernel_40168\1545241257.py:14: RuntimeWarning: invalid value encountered in scalar add
  h+=theta1*X1[1]+theta2*X2[i]+theta3

In [ ]:
print(f"h(x)={theta1}x1+{theta2}x2+{theta3}")

不会画图